label {
    display: block;
    margin-top: 10px;
  }
  
  .card-container.card {
    max-width: 350px !important;
    padding: 40px 40px;
  }
  
  .card {
    background-color: #f7f7f7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }
  
  .profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  // common

  button {
    border: 0;
    background-color: #fff;
  }


// general

  .z-negative-3 {
    z-index: -1;
  }


  // colors

  $sunray__color: #EDAE49;
  $red__color: #D1495B;
  $sea__color: #00798C;
  $lapis__color: #30638E;
  $indigo__color: #003D5B;
  $blue__color: #6DD3CE;
  $violet__color: #8332AC;

  .sunray__text {
    color: $sunray__color;
  }
  .red__text {
    color: $red__color;
  }
  .sea__text {
    color: $sea__color;
  }
  .lapis__text {
    color: $lapis__color;
  }
  .indigo__text {
    color: $indigo__color;
  }
  .blue__text {
    color: $blue__color;
  }
  .violet__text {
    color: $violet__color;
  }

  // bg colors

  .sunray__bg {
    background-color: $sunray__color;
  }
  .red__bg {
    background-color: $red__color;
  }
  .sea__bg {
    background-color: $sea__color;
  }
  .lapis__bg {
    background-color: $lapis__color;
  }
  .indigo__bg {
    background-color: $indigo__color;
  }
  .blue__bg {
    background-color: $blue__color;
  }
  .violet__bg {
    background-color: $violet__color;
  }

  // other

  .color__icon {
    min-height: 50px;
  }
  .active__icon {
    border: 4px solid $indigo__color;
  }
.navbar__picture {
  border: 0; 
  border-radius: 50%;
  display: block;
  margin: 0px;
  position: relative;
  height: 32px;
  width: 32px;
  z-index: 0;
}
.profile__picture {
  border: 0; 
  border-radius: 50%;
  display: block;
  margin: 0px;
  position: relative;
  height: 90px;
  width: 90px;
  z-index: 0;
}